/*RESET BÁSICO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONFIGURAÇÕES GERAIS*/
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;
}

/*CONTAINER PADRÃO*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header {
    padding: 20px 0;
    border-bottom: 1px solid #222;
}

.logo {
    color: #00ff88;
    font-weight: bold;
}

.logo {
    color: #00ff88;
    font-weight: bold;
    text-shadow: 0 0 8px #00ff88;
}

/*HERO SECTION*/
.hero {
    padding: 160px 20px;
    text-align: center;
    background: linear-gradient(135deg, #111 60%, #003322);
}

.hero h1 {
    font-size: 64px;
    margin: 0 auto 25px auto;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 900px;
}

.hero p {
    font-size: 20px;
    color: #bbbbbb;
    max-width: 650px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

/*BOTÃO*/
.btn-primary {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00ff88;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 0 10px #00ff88;
}

.btn-primary:hover {
    background-color: #00cc6a;
    box-shadow: 0 0 25px #00ff88;
    transform: scale(1.05);
}